{% extends "base.html" %}

{% block title %}Добавить платформу - MeaningDB{% endblock %}
{% block body_class %}platform-add-page{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/add_platform.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h2>Добавление платформы</h2>
    <form method="POST" action="/media/add_platform/">
        <label for="media_id">ID медиа</label>
        <input type="text" id="media_id" name="media_id" placeholder="Введите ID медиа" required>

        <label for="title">Название платформы</label>
        <input type="text" id="title" name="title" placeholder="Например: Steam, Netflix" required>

        <label for="ref_link">Ссылка на платформу</label>
        <input type="text" id="ref_link" name="ref_link" placeholder="Введите ссылку" required>

        <button type="submit">Добавить платформу</button>
    </form>
</div>
{% endblock %}