{% extends "base.html" %}

{% block title %}MeaningDB{% endblock %}
{% block body_class %}platform-add-page{% endblock %}


{% block content %}
<h2>Форма добавления платформы</h2>
<form method="POST" action="/media/add_bond/">
    <label for="media_id">media_id</label>
    <input type="text" id="media_id" name = "media_id" required>
    <br>
    <label for="theme_id">theme_id</label>
    <input type="text" id="theme_id" name = "theme_id" required>
    <br>
    <label for = "description">Описание</label>
    <input type="text" id="description" name = "description" required>
    <br>
    <button type="submit">Добавить</button>
</form>
{% endblock %}